body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #FFF;
}

header {
  margin-top: 3em;
  text-align: center;
  color: black;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

/* #container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
} */

#container3D {
  width: 100%;
  height: 100vh;
  position: relative;
  background: red; /* temporary test */
}
